.card {
  height: 100px;
  width: 50%;
  background-color: #626cc3;
  color: '#fff';
  border-radius: 10px;
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  padding: 24px;
  justify-content: space-between;
}

.card h1 {
  font-size: 16px;
  color: #fff;
}
